.MeasurePage_Container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  .round-title {
    position: fixed;
    top: 1vh;
    left: 1vw;
    color: #ffffff;
  }

  .MeasurePage_Content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 3개의 열 */
    grid-template-rows: repeat(3, 1fr);     /* 2개의 행 */
    gap: 5px;
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    background-image: url('../assets/images/squash_map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    .MeasurePage_Section {
      display: flex;
      align-items: center;
      padding: 2px;
      font-size: 1.5rem;
      font-weight: bold;

      &:nth-child(odd) { 
        justify-content: baseline;
        margin-left: 2vw;
      }

      &:nth-child(even) { 
        justify-content: end;
        margin-right: 2vw;
      }

      .section-label {
        width: 7vw;
        height: 7vh;
        background-image: url('../assets/images/squash_ball.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  
  .MeasurePage_Btn {
    position: fixed;
    top: 1vh;
    right: 1vw;
  }
}
