@font-face {
  font-family: "YdestreetB";
  src: url("./assets//fonts/YdestreetB.ttf") format("truetype");
}

@font-face {
  font-family: "YdestreetL";
  src: url("./assets/fonts/YdestreetL.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}